.featured-slide {
  text-align: center;
  width: 100%;
}

.featured-slide .feature-list ul {
  padding: 0;
  margin: 0;
}

.featured-slide .feature-list ul li {
  display: block;
}

.featured-content {
  padding: 30px;
}

.featured-content .left-image img {
  width: 100%;
  overflow: hidden;
}

.featured-content .right-feature-text h4 {
  font-size: 25px;
  /* color: #121212; */
  color: rgba(242, 242, 242, 0.95);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.featured-content .right-feature-text h4 em {
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 187, 5, 0.2);
}

.featured-content .feature-list {
  margin-top: 20px;
}

.featured-content .feature-list p {
  font-weight: 400;
}

.featured-content .right-feature-text {
  text-align: left;
  margin: 0px 15px 0px 15px;
}

.featured-content .right-feature-text .primary-button {
  margin-top: 30px;
}